body
{
    background-color:crimson;
    color:black;
}

.heading
{
    width: 80%;
    font-size: 22px;
}

.object_names, #result_object_name, #result_object_accuracy
{
    color:darkslategrey;
    font-size: 15px;

}

#camera
{
    border: 2px ridge black;
    width: 350px;
    height: 300px;
}

hr
{
    width:400px;

}